/* .main {
  height: 300px;
  background-color: red;
}
.my {
  height: 300px;
  background-color: blue;
}
.you {
  height: 300px;
  background-color: greenyellow;
}
.cell1 {
  height: 300px;
  background-color: brown;
}
.cell2 {
  height: 300px;
  background-color: teal;
}
.cell3 {
  height: 300px;
  background-color: orange;
}
.my2 {
  height: 150px;
  background-color: aqua;
}
.one {
  height: 150px;
  background-color: chocolate;
}
.two {
  background-color: crimson;
}
.three {
  background-color: darkgoldenrod;
}
 */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 240, 240);
}
.titlebar {
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 10px;
}
.titlebar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 20px;
  padding-top: 20px;
  margin-left: 150px;
}
a:hover {
  background-color: white;
  color: black;
  height: 60px;
}
.navbar {
  height: 65px;
  background-color: white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  display: flex; /*sends the logo to the right and lists to the left*/
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin-left: 150px;
  display: flex;
  flex-direction: row;
}
img {
  width: 50px;
  height: 50px;
}
ul {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  
}

li {
  padding: 10px 50px;
  margin: 0px;
  font-weight: semi-bold;
  font-size: 20px;
  
}
li a:hover {
  color: red;
}
li a{
  text-decoration: none;
  color: black;
}

/* .container1{
  height: 500px;
  background-color: aqua;
} */
h1{
  line-height: 2.0;
  margin-left: 50px;
  font-size: 40px;
}
#btn{
  margin-left: 50px;
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 15px;
  color: white;
}
#btn a{
  text-decoration: none;
  color: white;
}
#btn:hover{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#btn a:hover{
  color: red;
}
.cell1{
  height:500px ;
  background-color: white;
}

.cell2 {
  height: 500px;
 background-color: white;
} 
.cell2 img{
  height: 500px;
  width: 580px;
  padding-right: 20px;
}
.container-fluid{
  height: 120px;
  background-color: darkred;
  background:linear-gradient(to right,darkred,red);
}
.second_row{
  padding-top: 30px;
  display: flex;
  padding-left: 200px;
  padding-right: 140px;
}
.second_row p{
  color: white;
}
.second_row img{
  background-color: none;
}
h2{
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 20px;
  font-size: 50px;
}
.secondsection{
 background-color: rgb(226, 223, 223);
 height: 700px;
}
.first_section{
  height:500px;
  background-color: white;
  border-radius: 10px;
  /* padding-left: 50px; */
}
.first_section img{
  height:300px;
  width:100%;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.first_section p{
  font-size: 20px;
  padding-left:10px;
  padding-right: 10px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#login{
  width: 100%;
  background-color:red;
  height: 50px;
  border-radius: 10px;
  border: none;
}
